/* .form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
  }
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
  }
  
  .left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
  }
  
  .sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
  }
  main {
    padding-top: 90px;
  } */

  @import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.bg-info{
  background:#00a3dd !important;
}
.flag{
    border: 2px solid #42b63b;

}
.login{
    font-size: 7rem;
    color:#42b63b;

}
.register small a{
    color:green !important;
    
}

/* DASHBOARD */
.list-back{
  background:yellow;
  padding: 2px;
  border: 1px solid black;
  margin:1px 0 1px 0;
}
.list-black a{
  color:red;
}
.table-head{
  background:#00008B !important;
  color:white !important;
}